@media screen and (max-width: 768px) {
  .service_item._service2,
  .service_item._service3,
  .service_item._service4 {
    bottom: 0;
    margin: 0 auto 10%;
  }

  .intro {
    width: 100%;
  }

  .intro_txt {
    margin-bottom: 50px;
  }

  .about_sub_ttl {
    padding-top: 20px;
  }

  .about_wrap {
    padding-left: 0;
    flex-direction: column-reverse;
  }

  .about_img {
    margin: 40px auto;
  }
}

@media screen and (max-width: 480px) {
  .top_img img {
    width: 70%;
  }

  .service_item {
    width: 100%;
    margin: 0 0 10%;
    height: auto;
  }

  .service_inner_txt {
    left: 46%;
  }

  .btn {
    background: #000;
    width: 40%;
    margin: auto;
    text-align: center;
  }

  .about_list {
    display: block;
  }

  .about_item {
    width: 100%;
    height: 300px;
    margin-bottom: 10%;
    border: solid 1px #ccc;
  }

  .about_sub_ttl {
    padding-top: 55px;
  }

  .news_list {
    display: block;
  }

  .news_item {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    border: solid 1px #ccc;
  }
}
