body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #586365;
}

a {
  text-decoration: none;
  color: #586365;
}

li {
  list-style: none;
}

.wrap {
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #fff;
}

header .header_all {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  padding: 0 20px;
  margin-top: 30px;
}

header .logo .img {
  width: auto;
  height: 60px;
}

header .nav_bar {
  margin: 0 30px;
}

header .nav_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_bar ul .respons {
  visibility: hidden;
}

header .nav_bar ul li {
  margin: 40px 16px 0;
  height: 50px;
}

header .nav_bar ul li a {
  font-size: 24px;
  font-weight: bold;
  color: #586365;
  padding: 8px 0px;
}

header .nav_bar ul li a small {
  visibility: hidden;
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #ffc042;
  margin-top: 2px;
  padding-top: 6px;
  text-align: center;
  border-top: 3px solid #ffc042;
}

header .nav_bar ul li a:hover {
  color: #ffc042;
}

header .nav_bar ul li a:hover small {
  visibility: visible;
  border-top: 2px solid #ffc042;
}

header .drawer {
  visibility: hidden;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4%;
}

.about_img {
  display: inline-block;
  position: relative;
}

.about_img img {
  max-width: 500px;
  width: 50vw;
  height: auto;
}

.about_img::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 16px 10px #fff;
          box-shadow: inset 0 0 16px 10px #fff;
}

.about_txt {
  margin: 8px 4%;
}

.about_txt .about_ttl h3 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 24px;
  color: #37ab9d;
}

.about_txt .about_ttl::after {
  content: "";
  display: inline-block;
  width: calc(100% - 290px);
  height: 3px;
  background: #37ab9d;
}

.about_txt p {
  line-height: 48px;
}

.about_txt p strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ffc042));
  background: linear-gradient(transparent 50%, #ffc042 50%);
}

.section_ttl {
  text-align: center;
  color: #586365;
  margin: 8vh;
}

.section_ttl h2 {
  font-size: 6vh;
}

.section_ttl small {
  font-size: 3vh;
  display: block;
  padding-top: 3vh;
  border-top: 3px solid;
  letter-spacing: 10px;
}

.top {
  width: 100%;
  height: auto;
}

.top_bg {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 680px;
  background: url(../img/kabotyamaru.jpg.webp) no-repeat center;
  background-position: 70% 80%;
  background-size: cover;
}

.top .top_img {
  position: absolute;
  top: 23vh;
  left: 70vh;
  width: 880px;
  height: auto;
  z-index: 2;
}

.top .top_img img {
  width: 700px;
  height: auto;
}

.feature_txt {
  padding: 0 3%;
  text-align: center;
}

.feature_txt p {
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding-bottom: 140px;
}

.feature_txt p strong {
  color: #ffc042;
}

.feature_txt p span {
  border-bottom: 2px solid #ffc042;
}

.feature_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature_item {
  width: 480px;
  height: 680px;
  margin: 0 16px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.feature_item .feature_img {
  width: 100%;
  height: 420px;
  background-position: 60% 50%;
  background-size: cover;
}

.feature_item h3 {
  padding: 28px 0;
  font-size: 28px;
  text-align: center;
}

.feature_item p {
  padding: 0 24px;
  font-size: 24px;
  line-height: 1.5em;
}

.feature_wrap .item1 .feature_img {
  background-image: url(../img/syukka.jpg.webp);
}

.feature_wrap .item2 .feature_img {
  background-image: url(../img/sannti.jpg.webp);
}

.arrow {
  text-align: end;
}

.arrow img {
  padding: 20px;
}

.service_item {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.service_item h3 {
  font-size: 25px;
  padding: 10px;
  color: #37ab9d;
}

.service_item .service_item_txt {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_item h2 {
  color: #ffc042;
  font-size: 40px;
  width: auto;
  padding: 10px 20px;
}

.service_item p {
  width: 60%;
  margin-left: 30px;
  padding-top: 30px;
  font-size: 20px;
}

.service_wrap {
  padding: 0 16px;
}

.service_txt {
  padding: 0 3%;
  text-align: center;
}

.service_txt p {
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding-bottom: 100px;
}

.service_txt p span {
  border-bottom: 2px solid #ffc042;
}

.service_txt p strong {
  color: #ffc042;
}

footer {
  padding: 50px 0 20px;
  background: #37ab9d;
  color: #586365;
}

.footer_logo {
  width: 15%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.footer_logo img {
  width: 100%;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footer_item {
  padding-right: 28px;
  margin-right: 20px;
  border-right: solid 3px #586365;
  font-size: 18px;
  line-height: 1;
}

.footer_item a {
  color: #586365;
}

.footer_item a:hover {
  color: #ffc042;
}

.footer_item :last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer_sns {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_sns .sns_icon1, .footer_sns .sns_icon2 {
  margin-right: 25px;
}

.footer_sns .sns_icon1, .footer_sns .sns_icon2 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer_sns .sns_icon1:hover, .footer_sns .sns_icon2:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footer_txt {
  display: block;
  text-align: center;
  font-size: 15px;
}

.breadcrumb {
  max-width: 90%;
  margin: 40px auto;
}

.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.breadcrumb li {
  font-size: 20px;
}

.breadcrumb li:after {
  content: ">";
  padding-right: 10px;
  font-size: 20px;
}

.breadcrumb li:last-child::after {
  content: "";
}

.color {
  color: #ffc042;
  font-weight: 700;
}
