@import "color";
@import "mixin";

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: $gray;
}

a {
  text-decoration: none;
  color: $gray;
}

li {
  list-style: none;
}

.wrap {
  overflow: hidden;
}

header {
  width: 100%;
  background-color: $white;

  .header_all {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding: 0 20px;
    margin-top: 30px;

    .img {
      width: auto;
      height: 60px;
    }
  }

  .nav_bar {
    margin: 0 30px;

    ul {
      display: flex;

      .respons {
        visibility: hidden;
      }

      li {
        margin: 40px 16px 0;
        height: 50px;

        a {
          font-size: 24px;
          font-weight: bold;
          color: $gray;
          padding: 8px 0px;

          small {
            visibility: hidden;
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: $orange;
            margin-top: 2px;
            padding-top: 6px;
            text-align: center;
            border-top: 3px solid $orange;
          }
        }

        a:hover {
          color: $orange;

          small {
            visibility: visible;
            border-top: 2px solid $orange;
          }
        }
      }
    }
  }

  .drawer {
    visibility: hidden;
  }
}

.about {
  &_wrap {
    display: flex;
    justify-content: center;
    padding-left: 4%;
  }

  &_img {
    display: inline-block;
    position: relative;

    img {
      max-width: 500px;
      width: 50vw;
      height: auto;
    }
  }

  &_img::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 16px 10px $white;
  }

  &_txt {
    margin: 8px 4%;

    .about_ttl h3 {
      display: inline-block;
      font-size: 40px;
      margin-bottom: 24px;
      color: $green;
    }

    .about_ttl::after {
      content: "";
      display: inline-block;
      width: calc(100% - 290px);
      height: 3px;
      background: $green;
    }

    p {
      line-height: 48px;

      strong {
        background: linear-gradient(transparent 50%, $orange 50%);
      }
    }
  }
}

.section_ttl {
  text-align: center;
  color: $gray;
  margin: 8vh;

  h2 {
    font-size: 6vh;
  }

  small {
    font-size: 3vh;
    display: block;
    padding-top: 3vh;
    border-top: 3px solid;
    letter-spacing: 10px;
  }
}

.top {
  width: 100%;
  height: auto;

  &_bg {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 680px;
    background: url(../img/kabotyamaru.jpg.webp) no-repeat center;
    background-position: 70% 80%;
    background-size: cover;
  }

  .top_img {
    position: absolute;
    top: 23vh;
    left: 70vh;
    width: 880px;
    height: auto;
    z-index: 2;

    img {
      width: 700px;
      height: auto;
    }
  }
}

.feature_txt {
  padding: 0 3%;
  text-align: center;

  p {
    letter-spacing: 0.2em;
    line-height: 1.8em;
    padding-bottom: 140px;

    strong {
      color: $orange;
    }

    span {
      border-bottom: 2px solid $orange;
    }
  }
}

.feature_wrap {
  display: flex;
  justify-content: center;
}

.feature_item {
  width: 480px;
  height: 680px;
  margin: 0 16px;
  background-color: $white;
  box-shadow: 4px 4px 8px 4px $gray_shadow;

  .feature_img {
    width: 100%;
    height: 420px;
    background-position: 60% 50%;
    background-size: cover;
  }

  h3 {
    padding: 28px 0;
    font-size: 28px;
    text-align: center;
  }

  p {
    padding: 0 24px;
    font-size: 24px;
    line-height: 1.5em;
  }
}

.feature_wrap .item1 .feature_img {
  background-image: url(../img/syukka.jpg.webp);
}

.feature_wrap .item2 .feature_img {
  background-image: url(../img/sannti.jpg.webp);
}

.arrow {
  text-align: end;

  img {
    padding: 20px;
  }
}

.service {
  &_item {
    width: 100%;
    height: 160px;
    display: flex;
    background-color: $white;
    box-shadow: 4px 4px 8px 4px $gray_shadow;
    justify-content: right;
    align-items: center;
    margin-bottom: 28px;

    h3 {
      font-size: 25px;
      padding: 10px;
      color: $green;
    }

    .service_item_txt {
      width: 100%;
      padding: 20px;
      display: flex;
    }

    h2 {
      color: $orange;
      font-size: 40px;
      width: auto;
      padding: 10px 20px;
    }

    p {
      width: 60%;
      margin-left: 30px;
      padding-top: 30px;
      font-size: 20px;
    }
  }

  &_wrap {
    padding: 0 16px;
  }

  &_txt {
    padding: 0 3%;
    text-align: center;

    p {
      letter-spacing: 0.2em;
      line-height: 1.8em;
      padding-bottom: 100px;

      span {
        border-bottom: 2px solid $orange;
      }

      strong {
        color: $orange;
      }
    }
  }
}

footer {
  padding: 50px 0 20px;
  background: $green;
  color: $gray;
}

.footer {
  &_logo {
    width: 15%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: $offwhite;
    padding: 10px;
    border-radius: 5px;

    img {
      width: 100%;
    }
  }

  &_list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &_item {
    padding-right: 28px;
    margin-right: 20px;
    border-right: solid 3px $gray;
    font-size: 18px;
    line-height: 1;

    a {
      color: $gray;
    }

    a:hover {
      color: $orange;
    }

    :last-child {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
    }
  }

  &_sns {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sns_icon1 {
      margin-right: 25px;
    }

    .sns_icon1 {
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .sns_icon2 {
      @extend .sns_icon1;
    }

    .sns_icon1:hover {
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }

    .sns_icon2:hover {
      @extend .sns_icon1:hover;
    }
  }

  &_txt {
    display: block;
    text-align: center;
    font-size: 15px;
  }
}

.breadcrumb {
  max-width: 90%;
  margin: 40px auto;

  ul {
    display: flex;
    margin-bottom: 100px;
  }

  li {
    font-size: 20px;
  }

  li:after {
    content: ">";
    padding-right: 10px;
    font-size: 20px;
  }

  li:last-child::after {
    content: "";
  }
}

.color {
  color: $orange;
  font-weight: 700;
}
